<div class="post">
  <h1><%= @article.title %></h1>
  <p><%= @article.text %></p>
  <p id="small">Writer is <%= @article.username %> at <%= @article.created_at %></p>
</div>

<br>
<h2>Comments:</h2>
<% @article.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.body %></p>
      <p id="small">Commented <%= comment.author %> at <%= comment.created_at %></p>
    </div>
    <hr/>
<% end %>
<br/>

<h2>Write a comment:</h2>
<%= form_for ([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br/>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>