<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/articles">Articles</a></li>
    <li><a href="/articles/new">New Articles</a></li>
    <li><a href="/contacts">Contacts</a> </li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/about">About</a></li>
    <li>
      <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </li>
  </ul>
</div>
<% if user_signed_in? %>
  <p style="margin-left: 10%"><u><%= current_user.username %></u></p>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
